.env
.vscode/
# ignore the database file of the sqlite
services/gateway/data/

services/ingestion-worker/venv

playground/
playground/venv


# AI Models (Too large for git)
models/
*.gguf
*.bin
*.pt

# Python temporary files
__pycache__/
venv/

INGESTION_WORKER_GUIDE.md
